<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
  <title>Index</title>
  <style>
  html,
  body,
  #map-container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  </style>
  <script src="/scripts/compiled/app.js" type="text/javascript"></script>
</head>
<body>
  <div id="map-container"></div>
  <!-- <script src="https://webapi.amap.com/maps?v=1.4.11&key=>%= autoNaviKey %>"></script> -->
  <!-- <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=<%= bingKey %>&callback=initMap' async defer></script> -->
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= googleKey %>&libraries=geometry,places&ext=.js&callback=initMap" async defer></script>
</body>
</html>
